.table_output{
    top: 300px;
    border:none;
}

.table_output td{
    width:auto;
    height: 150px;
}

.table_output td img{
    background-color: lightblue;
    width: 200px;
    height: 150px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.table_output img:hover{
    transform: scale(1.1);
}

